body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  background: white;
  padding: 0px;
  margin: 0px;
  background-image: url("/images/i2.jpg");
  background-repeat: no-repeat; }

#container {
  margin: 0 auto;
  width: 1024px; }

#content {
  background: #f5f5f5;
  clear: left;
  padding: 20px;
  height: 1200px; }

#footer {
  display: none;
  background: #cccccc;
  text-align: right;
  padding: 10px;
  height: 1%; }

/* Nav bar */
#navigation {
  display: none;
  float: left;
  width: 1024px;
  background: #333333; }
  #navigation ul {
    margin: 0;
    padding: 0; }
    #navigation ul li {
      list-style-type: none;
      display: inline; }
  #navigation li a {
    display: block;
    float: left;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    border-right: 1px solid white; }
    #navigation li a:hover {
      background: #338833; }

#single_song:hover {
  background: #bbbbbb; }

.single_song {
  width: 400px;
  margin: 10px;
  padding: 10px;
  background: #195364;
  background: white; }
  .single_song .info_layout {
    background: white;
    float: right;
    width: 200px; }
  .single_song ul {
    position: relative;
    text-align: center; }
  .single_song li {
    list-style-type: none;
    padding: 12px;
    font-size: 12px; }

#user_info {
  float: right;
  padding: 5px 30px;
  color: white; }
  #user_info a {
    color: white; }

/* Song Index */
#header {
  background: #333333;
  background: transparent;
  padding: 0px;
  margin: 0px;
  height: 50px; }
  #header h1 {
    margin: 0;
    text-align: center;
    line-height: 50px;
    color: white; }

#extended-header {
  background: #333333;
  background: transparent;
  height: 50px;
  width: 100%;
  z-index: -1;
  position: absolute; }

#song-list table {
  margin-bottom: 10px;
  width: 800px; }
#song-list td {
  padding: 20px; }
#song-list tr:hover {
  background: #bbbbbb; }
