<h1>About</h1>  
<p>This site was created as I found myself always playing along to the same youtube songs and forgetting the chords</p>

<p>It is still in active development and a touch clunky but hopefully it will be of use to some of you!</p>

<p>If it doesn't work for you, please leave feedback or suggestions and come back in a few weeks to see if it is more to your liking..</p>

<p>In future users will be able to create their own </p>
