<h1>About</h1>  
<p>This site was created as I found myself always playing along to the same youtube songs and forgetting the chords</p>

<p>It is still in active development and a touch clunky but hopefully it will be of use to some of you!</p>

<p>If it doesn't work for you, please leave feedback or suggestions and come back in a few weeks to see if it is more to your liking..</p>

<p>In future users will be able to create their own </p>

<p>In my experience of visiting Australian music stores, around three quarters of the staff are pretencious, intimidating xxxx show offs,
more intent on showing off and one upmanship. As a crappy amature hack I have always found this intimidating. The other quarter are there purely for the love of music and some of the best people 
you could find. It's time for the other quarter to rule!!</p>

<p>Remove the cool from music</p>

<p> Music is cool (cross out) / fun</p>

<p>Playing music shouldn't just be for the cool kids</p>

<p> Everyone should play an instrument!!</p>


<p>FAQ ***   Why is thia site pirate themed? Umm yeah good question, sorry about that. I have a bit of a pirate problem.</p>
<p>Also I believe learning music should be fun. I do it even though I'm not that great, and it hasn't particularly made me cooler, but
I just love thumping along to music and making noise. The stupid pirate stuff stops this being another fuckwit guitar site</p>

<p>ie not MTV</p>


<p> Now watch out for music stores, they be thieves.. </p>


[Picture of gold coins]
Buying an instrument. This is the hard part. Check your prices before you buy anything. [3/4, 1/4 speil] Visit all the stores in your area,
don't worry too much about prices at this stage as you will probably have to negotiate anyway. At this stage you are not checking out,
the instruments but checking out the staff. 3/4, 1/4. You'll know them when you find them, they will be thankfully more on the
geeky side than the cool side, they will generally love music for musics sake (not cool).

Definately start with a nylon, anything metal stringed will tear your landlubing fingers to shreds at this stage. That goes
10 times the amount of shredness for anything cheap with metal strings.

Now check your prices. Look up your instruments on line (links) to get a feel for prices. Now bargain with the shops. Go easy on them,
even though their starting prices are criminal, they need to make something. In the $US you should go for about 20% more ?? than
mail prices (feedback / twitter?). Here in australia i use a basic if you can get it for less than double the zzound price you are ok.